body {
    background-color: #221d23 ;
    color: white;
    font-family:serif
  }

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8f64bc;
    padding: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:25px;
    
    
}

header img {
    width: 200px;
    height: auto;
}



nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right:1em;
}

nav ul li a {
    color:#333;
    text-decoration: none;

}

nav ul li a:hover {
    color:#611E10
}



main {
    margin: 2em;
    font-family:Georgia, 'Times New Roman', Times, serif
    
    
}

button {
    background-color: #611E10;
    color: #f9dc5c;
    border: none;
    padding: 0.5em 1em;
    margin-top: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #b66e87
}


input[type=text], input[type=tel] {
    background-color: rgb(83, 46, 100);
    border-radius: 1px;
    border: none;
    padding: 10px;
    margin-bottom: 14px;
    margin-left: 50px;
    width: 390px;
   

}


button {
    background-color: rgb(236, 224, 224);
    color: rgb(57, 54, 56);
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .coluna {
    float: left;
    width: 31.33%;
  .row::after {
    content: "";
    clear: both;
    display: table;
  }}


  .carrinho {
    font-size: large;
    width: 220px;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }


  .vantagens {
    font-size: large;
    width: 220px;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration-color: #333;

  }
  h1{
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }

  .box-degrade{
    width: auto;
    height: 20px;
    padding: flex;
    display: flex;
    background-image: linear-gradient(to left, #7e0fe0, #7b0f94, #8e2c86, #8606a9, #470170 );
    background-size: 500% 100%;
    animation: degrade 4s infinite alternate-reverse;
    border-width: 3px; 
  }

 .box-degrade-post{
        
        background-image: linear-gradient(to top, #3f68aa, #7852d0, #6627a6, #8040ca, #603bd8 );
        background-size: 500% 100%;
        animation: degrade 4s infinite alternate-reverse;
        border-width: 3px;
        border-style: solid;
        border-color:#000000;
        text-align: center;
        
   }

   @keyframes degrade { 
     0%{
        background-position-x: 0%;
     }
    100%{
        background-position-x: 100%;
    }
  }


  

  footer {
    margin-top: 95%;
    font-size: small;
    
 }

  
  .estilodetexto {
    font-size: large;
    margin-left: 110px;
}

 


.bemvindoaoblog{

 margin-right: 0px;
 margin-left: 120px;
 margin-bottom: 120px;
 margin-top: 40px;
 font-size: 22px;
 text-align: center;
 text-decoration-color: #603bd8;

}

  
 .textoposts{
  align-items: center;
  margin-right: 0px;
  margin-left: 80px;
  font-size: 15px;



 }

 .iframe {
    position: absolute;
    margin: auto;
    top: 1040px;
    left: 50%;
    transform: translate(-50%, -50%);

}


 
.textoposts2{
  align-items: center;
  margin-top: 400px;
  margin-left: 80px;
  font-size: 15px;



 }
.iframe2 {
  position: absolute;
  margin: auto;
  top: 1520px;
  left: 50%;
  transform: translate(-50%, -50%);
}
